header {
    display: flex;
    align-items: center;
    background-color: white;
    position: sticky;
    justify-content: space-between;
    
    
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .logo img {
    height: 50px;
   
  }
  
  .logo span {
    margin: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #0a6bff;
    padding-right: 75px;
    border-radius: 0.5em;
  }
  
  .header-left input {
    padding: 8px 100px 8px 15px;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
    outline: none;
    background-color: #fff ;
    
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(245, 245, 245);
    display: flex;
  }

  .icon.active:hover {
   border-color: #d2e3ff; 
  }
  
  .icon.active {
    
    border-radius: 10px;
    padding: 5px;
    
  }
  
  .header-right {
   height: 30px;
    padding: 5px;
    margin: 10px;
    font-size: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }

    .header-right:hover {
        border-color: #d2e3ff; 
  }
  
  .header-right .notification, .header-right .message, .header-right .profile {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .header-right .profile .profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }
    